<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.order.center.manual.dao.PayOrderMapper">

    <update id="stock">
    update second_goods set goods_resp = goods_resp - #{quantity} where goods_resp - #{quantity}>=0 and id=#{goodsId} and is_deleted=0
    </update>
</mapper>