<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.payment.center.manual.dao.BalanceMapper">

    <update id="addStock">
    update second_store_balance set second_balance = second_balance - #{money} where second_balance - #{money}>=0 and user_id=#{userId} and store_id=#{storeId} and is_deleted=0
    and balance_type = #{type}
    </update>
</mapper>