<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.payment.center.manual.dao.SonBalanceMapper">

    <update id="add">
    update second_son set son_balance = son_balance + #{money} where id=#{sonId} and is_deleted=0
    </update>
</mapper>